:root {
  --primary: #535c91;
  --secondary: #9290c3;
  --highlight: #1b1a55;
  --highlight-dark: #d94c00;

  --text-header: var(--highlight);
  --text-main-headers: var(--secondary);
  --text-links: var(--highlight);
  --text-footer: var(--highlight);

  --bg-main: #070f2b;
  --bg-dots: var(--highlight);
  --bg-lesson: #070f2b;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: var(--primary);

  --corner-active: var(--secondary);
  --corner-inactive: var(--highlight);
  --icons: var(--secondary);
  --footer-icons: var(--secondary);

  --emphasized-bg: var(--secondary);
  --emphasized-border: var(--bg-dots);
}
